.mpp__product a {
  color: #040a2b;
  text-decoration: none;
}
.mpp__product .hidden {
  display: none;   
}
.mpp__product .block {
  display: block;
}
.mpp__product ul,ul li {
  list-style: none
}
.btn, .button--light {
  background: #fff;
  background: #fff;
  background: #fff;
  background: #fff;
  -pie-background: #fff;
  background: #fff;
  font-size: 12px;
  font-family: AkzidenzGrotesk;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  color: #040a2b;
  text-decoration: none;
  border-radius: 0 !important;

}
.button--secondary {
  height: 33px;
  line-height: 33px;
  border: 1px solid #040a2b
}
.mpp {
  position: relative;
  padding-bottom: 100px;
  margin: 0 auto
}

@media only screen and (min-width: 641px) and (max-width:1279px) {
  .mpp {
      max-width:800px;
      min-width: 730px;
      width: 100%
  }
}

@media only screen and (min-width: 1280px) {
  .mpp {
      max-width:1066px;
      min-width: 730px;
      width: 100%
  }
}

.mpp__header {
  text-align: center;
  border-bottom: 1px solid #cccccc
}

.mpp__product {
  float: left;
  text-align: center;
  color: #040a2b
}
.mpp__product-grid {
  margin-top: 30px
}

.mpp__product-grid:after {
  content: "";
  display: table;
  clear: both
}

@media only screen and (min-width: 737px) {
  .mpp__product-grid .mpp__product:nth-child(3n+1) {
      clear:left
  }
}

@media only screen and (min-width: 737px) and (max-width:768px) {
  .mpp__product-grid .mpp__product:nth-child(3n+1) {
      margin-left:25px
  }
}
@media only screen and (min-width: 737px) {
  .mpp__product {
      position:relative;
      width: 28.25%;
      margin-bottom: 73px;
      padding-bottom: 85px;
      min-height: 640px
  }

  .mpp__product .product_brief__image {
      width: 100%;
      background-repeat: no-repeat;
  }
}
.product_brief__image-container {
  -webkit-transition: height .4s ease-in;
  -moz-transition: height .4s ease-in false;
  -o-transition: height .4s ease-in false;
  transition: height .4s ease-in;
  display: block;
  position: relative;
  overflow: hidden;
  width: 226px;
  height: 311px;
  margin: 0 auto
}

@media only screen and (min-width: 737px) {
  .product_brief__image-container {
      width:100%
  }
}

@media only screen and (min-width: 1280px) {
  .product_brief__image-container {
      width:300px;
      height: 412px
  }
}

@media only screen and (min-width: 641px) and (max-width:1279px) {
  .product_brief__image {
      -webkit-transition:all .3s ease-in;
      -moz-transition: all .3s ease-in false;
      -o-transition: all .3s ease-in false;
      transition: all .3s ease-in;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #eaebef;
      background-repeat: none;
      background-size: cover;
      background-position: 50% bottom;
      width: 226px;
      height: 311px
  }
}

@media only screen and (min-width: 1280px) {
  .product_brief__image {
      width:300px;
      height: 412px
  }
}

.product_brief__image-container.is-open {
  height: 206px
}

@media only screen and (min-width: 1280px) {
  .product_brief__image-container.is-open {
      height:271px
  }
}

.product_brief__image-container.is-open .product_brief__image {
  left: -5px;
  width: 237px;
  height: 326px
}

@media only screen and (min-width: 1280px) {
  .product_brief__image-container.is-open .product_brief__image {
      left:-8px;
      width: 315px;
      height: 434px
  }
}

@media only screen and (min-width: 737px) {
  .product_brief__image-container.is-open .product_brief__image {
      left:0;
      width: 100%;
      height: 311px
  }
}

@media only screen and (min-width: 737px) and (max-width:768px) {
  .mpp__product-grid .mpp__product:first-child {
      margin-left:13px
  }
}

@media only screen and (min-width: 737px) {
  .mpp__product-grid .mpp__product:nth-child(2) {
      margin:0 5.75% 60px
  }
}

@media only screen and (min-width: 769px) {
  .mpp__product-grid .mpp__product:nth-child(2) {
      margin:0 7.6% 60px
  }
}

@media only screen and (min-width: 737px) and (max-width:768px) {
  .mpp__product-grid .mpp__product:nth-child(3n+1) {
      margin-left:13px
  }
}

@media only screen and (min-width: 737px) {
  .mpp__product-grid .mpp__product:nth-child(3n+2) {
      margin:0 5.75% 133px
  }
}

@media only screen and (min-width: 769px) {
  .mpp__product-grid .mpp__product:nth-child(3n+2) {
      margin:0 7.6% 73px
  }
}

.product_brief__description {
  position: relative
}

.product_brief__panel {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center
}

.product_brief__panel .review-snippet {
  flex-grow: 1;
  width: 100%
}

.product_brief__headers {
  padding-top: 15px;
  height: 100px
}

.product_brief__header {
  padding: 0 3px 0 3px
}

.product_brief__sub-header {
  margin-top: 2px;
  font-size: 14px;
}

.product_brief__headers {
  padding-top: 15px;
  height: 100px
}

.product_brief__header {
  padding: 0 3px 0 3px;
  font-size: 22px;
}
.product_brief__desc1 {
  font-size: 12px;
  margin-top: 15px;
  text-transform: uppercase;
}

.product_brief__buttons--shaded {
  width: 173px;
  padding-top: 16px;
  margin: 16px 0 0 26px
}

@media only screen and (min-width: 1280px) {
  .product_brief__buttons--shaded {
      margin:0 auto
  }
}
.product_brief__buttons:after {
  content: "";
  display: table;
  clear: both
}


.product_brief__buttons--shaded .product_brief__button--shop-now {
  width: 132px
}

.product_brief__buttons--shaded .product_brief__button--shop-now {
  display: block;
  float: left;
  padding: 0
}
.product_brief__buttons--shaded .button-color-picker {
  display: block;
  float: left;
  margin-left: 7px;
  position: relative;
  border-radius: 0 !important;
}

.product_brief__label2 {
  margin-top: 20px
}

.product_brief__desc2 {
  margin-top: 4px
}

.product_brief__buttons-container {
  bottom: 20px;
  width: 100%;
  position: absolute;
  height: 75px;
  padding-top: 15px
}

.button-color-picker {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom:1;background-size: auto auto;
  background-position: 0 -1606px;
  height: 33px;
  width: 34px;
  border: 1px solid #cccccc;
  background-image: url(https://www.esteelauder.com/sites/esteelauder/themes/us/img-local/sprites-s38a9885fce.png);
  background-repeat: no-repeat;
}

.product_brief__button--add-to-bag {
  float: left;
  margin-left: 6px;
  width: 132px;
  padding: 0;
  text-align: center;
  border-radius: 0 !important;
}

.product_brief__full-details {
  clear: both;
  display: block;
  padding-top: 16px
}

.product_brief__full-details:link,.product_brief__full-details:visited {
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 12px
}

.product_brief__desc1 {
  height: 30px;
  padding-bottom: 17px;
  width: 100%;
  align-self: flex-start
}
.product_brief__sku-price {
  margin: 9px 0 0;
}
.mpp__product select {
  height: 33px;
}
.product_brief__quantity-container {
  width: 50px;
  float: left;
}
@media only screen and (min-width: 1280px) {
  .product_brief__sub-panel-buttons-container {
      margin: 10px auto 0 auto;
      width: 202px;
  }
}
.product_brief__full-details:link, .product_brief__full-details:visited {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 12px;
}