.recommended-products .mpp__product {
  min-height: 600px;
  margin-bottom: 0;
}
.recommended-products .mpp__product .product_brief__image-container {
  height: 252px;
  width: auto;
}
.recommended-products .mpp__product .product_brief__image {
  background-size: cover;
  height: 100%;
}
.recommended-products  .product_brief__headers {
  height: auto;
}

.mpp.recommended-products {
  min-width: auto;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 0;
}

.recommended-products .mpp__header {
  border-bottom: 0;
}

.recommended-products .mpp__product-grid .mpp__product:nth-child(3n+2) {
  margin-bottom: 0;
}