.list-inline-item {
    padding: 0px 30px;
}
.recent_shop_now{
    transition: opacity .35s ease;
    border: 1px solid #fff;
    padding: 10px;
    color: #FFF;
    background: #000;
}
.recent_shop_now:hover{
    text-decoration: none;
     color: #fff;
}
