/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 1rem;
}

h1 {
  font-weight: 100;
}

label {
  color: $color-label;
}

.btn, 
.button--light {
  background: #fff;
  -pie-background: #fff;
  background: #fff;
  font-size: 12px;
  font-family: AkzidenzGrotesk;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  color: #040a2b;
  text-decoration: none;
  border-radius: 0 !important;

}
.button--secondary {
  height: 33px;
  line-height: 33px;
  border: 1px solid #040a2b;
  font-style: normal;
  min-width: 132px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
}
.button--dark {
  background: #040a2b;
  -pie-background: #040a2b;
  background: #040a2b;
  font-size: 12px;
  font-family: AkzidenzGrotesk;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.button--dark:hover {
  color: #fff !important;
  text-decoration: none;
}

.error_message {
  margin-bottom: 20px;
}

.button-containers {
  padding: 24px 0;
}

.link,
.link:hover {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.section-header__header {
  font-size: 15px;
  font-weight: 700;
  float: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}