.header_nav{
    background: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
}
.top_header{
    max-width: 345px;
}
.navbar-nav.mx-auto {
    position: relative;
    left: -40px;
}
.navbar-nav.mx-auto .nav-link{
 padding: 0px 20px!important;
}
.input-group .search_input,.input-group .search_input:focus{
    width: 15vw;
    max-width: 160px;
    padding-left: 25px;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff!important;
    background: transparent;
    border-radius: 0px!important;
    outline: none;
    box-shadow: none;
}

.input-group .search_icon {
    background: transparent;
    border: navajowhite;
    color: #fff;
    padding: 0px;
    margin-left: -18px;
}