.form-container {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.form-container h2 {
  text-transform: uppercase;
}

a {
  color: #000000;
  font-style: italic;
}

input[card='visa'] {
  background-image: url(https://www.esteelauder.com/media/export/cms/checkout/visa.gif);
  background-repeat: no-repeat;
  background-position: 98% 3px;
}

input[card='mastercard'] {
  background-image: url(https://www.esteelauder.com/media/export/cms/checkout/mastercard.gif);
  background-repeat: no-repeat;
  background-position: 98% 3px;
}

input[card='amex'] {
  background-image: url(https://www.esteelauder.com/media/export/cms/checkout/americanexpress.gif);
  background-repeat: no-repeat;
  background-position: 98% 3px;
}

input[card='discover'] {
  background-image: url(https://www.esteelauder.com/media/export/cms/checkout/discover.gif);
  background-repeat: no-repeat;
  background-position: 98% 3px;
}

.new-billing-address .billing-information {
  width: 100%;
}