

/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/

/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';


/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}




.shopping-cart {
  margin-top: 0;
}

/* Column headers */
.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }
  
  .product-image, .product-details, .product-removal {
    text-indent: -9999px;
  }
}


/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;
  
  .product-image {
    text-align: center;
    img {
      width: 100px;
    }
  }
  
  .product-details {
    .product-title {
      margin-right: 20px;
      font-family: $font-bold;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }
  
  .product-quantity {
    input {
      width: 40px;
      
    }
  }
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #a44;
  }
}


/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    
    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }
  
  .totals-item-total {
    font-family: $font-bold;
  }
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }
  
  .column-labels {
    display: none;
  }
  
  .product-image {
    float: right;
    width: auto;
    img {
      margin: 0 0 10px 10px;
    }
  }
  
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .product-price {
    clear: both;
    width: 70px;
  }
  
  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }
  
  .product-quantity:before {
    content: 'x';
  }
  
  .product-removal {
    width: auto;
  }
  
  .product-line-price {
    float: right;
    width: 70px;
  }
  
}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  
  .product-removal {
    float: right;
  }
  
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
  
  .totals {
    .totals-item {
      label {
        width: 60%;
      }
      
      .totals-value {
        width: 40%;
      }
    }
  }
}

.viewcart {
  overflow: hidden;
  position: static;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1080px;
  letter-spacing: initial;
}

.viewcart__panel--left {
  float: left;
  padding: 0 24px 24px;
  width: 65%;
}

.viewcart-panel {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 24px;
}

.checkout-header {
  margin: 18px 0;
  text-align: center;
}
.viewcart-header .viewcart-panel__title {
  padding: 0;
  font-family: OptimaDisplayLight;
  font-size: 40px;
  padding-top: 0;
  margin-top: 12px;
  margin-bottom: 18px;
}
.viewcart-panel__content {
  margin-top: 24px;
  padding: 0;
}
.cart-items {
  overflow: hidden;
}
.cart-header {
  display: none !important;
}
.cart-item {
  overflow: hidden;
  margin: 24px 0;
  padding: 0;
  width: 100%;
  border-bottom: none;
  position: relative;
}
.cart-item__thumb {
  float: left;
  margin-right: 2%;
  padding: 0;
  width: 30%;
}
.cart-item__thumb a {
  display: block;
  color: #040a2b;
  text-decoration: none;
}
.cart-item__thumb-image {
  width: 100%;
}
.cart-item__desc {
  line-height: 1.5;
  float: right;
  position: relative;
  font-family: "Optima LT W02 Roman";
  width: 68%;
  padding: 0;
}
.cart-item__product-name {
  margin-right: 24px;
  margin-bottom: 3px;
  font-size: 22px;
  line-height: 1.15em;
}
.cart-item__product-subname {
  margin-right: 24px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.15em;
}
.cart-item__size {
  display: block;
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
}
.cart-item__color {
  display: block;
  margin: 0;
  margin-bottom: 6px;
  font-size: 12px;
  padding: 0; 
}
.cart-item__color .cart-item__swatch {
  border-radius: 11px;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.cart-item__price-label {
  display: none;
}
.cart-item__swatch {
  margin-top: -2px;
}
.cart-item__remove-form {
  font-weight: 700;
  text-decoration: underline;
  margin-top: 10px;
  font-size: 12px;
  font-family: AkzidenzGrotesk;
  letter-spacing: .15em;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.cart-item .remove_link {
  width: 36px;
  height: 36px;
  display: block;
    width: 20px;
    height: 20px;
    background-image: url(https://www.esteelauder.com/media/images/checkout/close_button.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
}
.hidden {
  display: none;
}
.cart-item__swatch--shadename {
  margin-left: 10px;
  display: inline-block;
}

.cart-item__price {
  -ms-word-break: break-word;
  word-break: break-word;
  font-weight: 700;
  float: left;
  display: block;
    margin: 0;
    margin-bottom: 6px;
    font-family: AkzidenzGrotesk;
    font-size: 12px;
    width: auto;
    letter-spacing: .15em;
}

.cart-item__total {
  text-align: right;
  top: 20px;
  right: 0;
  position: static;
  float: right;
  font-family: AkzidenzGrotesk;
  font-size: 12px;
  font-weight: 700;
  position: static;
  float: right;
  font-family: AkzidenzGrotesk;
  font-size: 12px;
  font-weight: 700;
}
.cart-item__qty-value {
  display: none;
}
.cart-item__qty {
  width: 15%;
  padding-top: 0;
  float: left;
  clear: none;
  text-align: left;
  position: relative;
  float: left;
    top: 0;
    margin-right: 3%;
    padding: 0;
    width: 17%;
}

.viewcart .hidden {
  display: none !important;
}
.item-count__number:before {
  content: "(";
  margin-left: 10px;
}
.item-count__language:after {
    content: ")";
}

.viewcart__panel--right {
  border: solid 1px #EEE;
  text-align: center;
  min-height: 500px;
}

.checkout__sidebar {
  display: block;
  float: right;
  margin: 0;
  padding: 24px 0;
  width: 35%;
  height: 100%;
  background-color: #f2f3f4;
}

.cart-item {
  -webkit-transition: height 1s ease-in;
  -moz-transition: height 1s ease-in false;
  -o-transition: height 1s ease-in false;
  transition: height 1s ease-in;
}
.cart-item.slideup {
  height: 0;
  margin: 0;
}
.viewcart--empty-panel {
  text-align: center;
}